PORT=3000


# If you want to enable the documentation, set this to true
DOCS_ENABLED=true
DOCS_PATH=docs


BULLBOARD_ENABLED=true
BULLBOARD_PATH=/queues

# PostgreSQL connection string
DATABASE_URL=postgresql://USERNAME:PASSWORD@HOST/NAME?schema=public
DATABASE_LOGGING=true


# Redis connection string
REDIS_HOST=host
REDIS_PORT=6379


# Weather API key from weatherapi.com
WEATHER_API_KEY=YOUR_API_KEY